In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"C:\Users\HP\Downloads\Loan payments data (2).zip")

In [3]:
dataset.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [4]:
dataset.isnull().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
Gender              0
dtype: int64

In [5]:
dataset["past_due_days"].mode()[0]

np.float64(59.0)

In [6]:
dataset["past_due_days"]=dataset["past_due_days"].fillna(dataset["past_due_days"].mode()[0])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   500 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [8]:
dataset.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,59.0,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,59.0,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,59.0,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,59.0,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,59.0,28,college,female

In [9]:
dataset.select_dtypes(include="object")

,Loan_ID,loan_status,effective_date,due_date,paid_off_time,education,Gender
0,xqd20166231,PAIDOFF,9/8/2016,10/7/2016,9/14/2016 19:31,High School or Below,male
1,xqd20168902,PAIDOFF,9/8/2016,10/7/2016,10/7/2016 9:00,Bechalor,female
2,xqd20160003,PAIDOFF,9/8/2016,10/7/2016,9/25/2016 16:58,Bechalor,female
3,xqd20160004,PAIDOFF,9/8/2016,9/22/2016,9/22/2016 20:00,college,male
4,xqd20160005,PAIDOFF,9/9/2016,10/8/2016,9/23/2016 21:36,college,female
...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,9/12/2016,10/11/2016,10/14/2016 19:08,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,9/12/2016,9/26/2016,10/10/2016 20:02,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,9/12/2016,9/26/2016,9/29/2016 11:49,college,male
498,xqd20160499,COLLECTION_PAIDOFF,9/12/2016,11/10/2016,11/11/2016 22:40,college,female
499,xqd20160500,COLLECTION_PAIDOFF,9/12/2016,10/11/2016,10/19/2016 11:58,High School or Below,male

In [10]:
dataset.select_dtypes(include="object").isnull().sum()

Loan_ID             0
loan_status         0
effective_date      0
due_date            0
paid_off_time     100
education           0
Gender              0
dtype: int64

In [11]:
dataset.select_dtypes(include="object").isnull().columns

Index(['Loan_ID', 'loan_status', 'effective_date', 'due_date', 'paid_off_time',
       'education', 'Gender'],
      dtype='object')

In [12]:
for i in dataset.select_dtypes(include="object").isnull().columns:print(i)

Loan_ID
loan_status
effective_date
due_date
paid_off_time
education
Gender

In [13]:
dataset[i]=dataset[i].fillna(dataset[i].mode()[0])

In [14]:
dataset.select_dtypes(include="object").isnull().sum()

Loan_ID             0
loan_status         0
effective_date      0
due_date            0
paid_off_time     100
education           0
Gender              0
dtype: int64

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   500 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [16]:
dataset

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,59.0,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,59.0,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,59.0,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,59.0,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,59.0,28,college,female
...,...,...,...,...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

In [17]:
new_data=dataset

In [18]:
new_data.to_csv("clean_data_loan.csv",index = False)

In [24]:
import os
os.getcwd()

'C:\\Users\\HP\\Documents'